* {
    margin: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

#topbar {
    background-color: #4F86F7;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 150px;
    width: 100%;
    padding: 30px;
}

.nav ul {
    display: flex;
    flex-direction: row;
    gap: 90px;
    list-style-type: none;
    margin: 20px;
}

#main {
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.sidebar {
    border: 1px solid red;
    width: 200px;
    height: 100%;
    padding: 20px;
}

.content {
    padding: 20px;
}

#foot {
    padding: 20px;
}