* {
    margin: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

#topbar {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 150px;
    width: 100%;
    padding: 30px;
}

#main {
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    height: 100%;
    
}

.sidebar {
    border: 1px solid red;
    width: 200px;
    height: 100%;
    padding: 20px;
}

.content {
    padding: 20px;
    width: 100%;
}

#foot {
    padding: 20px;
}

/* Popup container */
.popup {
    display: flex;
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow 
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}*/

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}